<div class="op-item">
    <div class="op-hdr">
        <div class="op-photo">
            <a rel="nofollow" class="op-link" href="@@rwlink" title="@@rwname">
                <picture>
                    <source srcset="@@rwimage.avif" type="image/avif">
                    <source srcset="@@rwimage.webp" type="image/webp">
                    <img class="op-pic" width="120" height="120" loading="lazy" src="@@rwimage.png" alt="Exelent review form @@rwname">
                </picture>
                @@if (rwskill === '4') {
                    @@include('_star4.html')
                }
                @@if (rwskill === '5') {
                    @@include('_star5.html')
                }
                @@if (rwskill === '6') {
                    @@include('_star6.html')
                }
            </a>
        </div>
        <div class="op-name">
            <a rel="nofollow" class="op-title" href="@@rwlink" title="@@rwname">
                @@rwname
            </a>
            <div class="op-date">
                @@rwdate
            </div>
        </div>
    </div>
    <div class="op-stars">
        @@for (var i = 0; i < rwvalue; i++) {
            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
          }
    </div>
    <div class="op-text">
        @@rwtext
    </div>
</div>